 /* Footer */
 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    position: relative;
    bottom: 0;
    color: white;
  }

  .footer-icons {
    display: flex;
    gap: 15px;
  }

  .footer-icons div {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    text-decoration: none;
  }

  /* Responsive Design for Mobile */
  @media (max-width: 768px) {

    .logo {
      font-size: 20px;
    }

    /* Navbar */
    .nav-links {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #FFFF;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 350px;
      clip-path: circle(0px at 100% 0%);
      transition: clip-path 0.5s ease-in-out;
      padding-top: 50px;
      z-index: 1000;
    }

    .nav-links.open {
      clip-path: circle(100% at 50% 50%);
    }

    .nav-links li {
      margin: 10px 0;
    }

    .hamburger {
      display: block;

    }

    /* Banner */
    .banner-title {
      font-size: 24px;
    }

    /* Footer */
    .footer {
      padding: 10px;
    }

    .footer-icons div {
      width: 24px;
      height: 24px;
    }

    .footer-icons a {
      width: 16px;
      height: 16px;
    }

    .footer {
      font-size: 12px;
      /* Further reduce font size for copyright */
    }
}